# Inspection de notre dataframe n°1 pour definir les fonctions de (transforme) de notre ETL

In [2]:
import pandas  as pd

In [ ]:
### Importation du dataframe finance

In [3]:
df = pd.read_csv("/home/charles-nguessan/faux/données/finance_dataset.csv")

In [4]:
### inspection du dataframe finance_dataset.csv

In [5]:
df

,id,nom,prenom,email,pays,revenu_annuel,depenses_annuelles,solde_compte,numero_carte,transaction_mensuelle
0,1,Barr,Heidi,qhenderson@example.org!!,China,84596.0,28238.0,11444.0,340862234904722,3.0
1,2,Saunders,Cynthia,darlene87@example.net,Jamai?a,NaN,70157.0,10148.0,3547521944885408,56.0
2,3,Blanchard,Benjamin??,yhamilton@example.net,France,23732.0,58315.0,12529.0,347101265368769,16.0
3,4,Ochoa,Melissa,greengregory@example.org,Saint Barthelemy,NaN,45564.0,NaN,343427722441269,-74.0
4,5,Jimenez,Ryan,tranderek@example.net,Mozambique,115154.0,54518.0,2738.0,372381388820874,10.0
...,...,...,...,...,...,...,...,...,...,...
1099995,1099996,Fisher,Jerome,shanebrown@example.org,Chile,16274.0,38732.0,8510.0,566363987462,64.0
1099996,1099997,Ramirez,D?rek,xnichols@example.com,Cote d'Ivoire,119444.0,22756.0,2156.0,2516151110218884,58.0
1099997,1099998,Bennett,Ian@@@,NaN,United States of America,25479.0,10516.0,9153.0,4388155321766582,79.0
1099998,1099999,Mccoy,Albert,vanessastokes@example.net,Guam,53971.0,0.0,5531.0,30451161173041,14.0
1099999,1100000,Stafford,Toni,sadams@example.com,Cambodia,45810.0,14562.0,5776.0,NaN,29.0

In [6]:
df.tail(20)

,id,nom,prenom,email,pays,revenu_annuel,depenses_annuelles,solde_compte,numero_carte,transaction_mensuelle
1099980,1099981,Brewer,Travi!,riddlekevin@example.com,United Kingdom,40110.0,44689.0,15605.0,4519354262029,58.0
1099981,1099982,NaN,Katie,jeremyfarrell@exa~ple.org,Kuwait,90387.0,0.0,7578.0,30037416329205,0.0
1099982,1099983,Willis,Diana,jasmine59@example.net@@@,Bahrain@@@,64889.0,9818.0,13965.0,4140698381484737839,30.0
1099983,1099984,Davis,Lauren,ashley78@exam?le.com,Uzbekist~n,-110985.0,66316.0,1058.0,4230691502040,35.0
1099984,1099985,White,Jacqueline,cameron82@example.com,Gibraltar,88122.0,40076.0,5789.0,3594453037923544,35.0
1099985,1099986,Graham,Jeffrey,dnewman@example.com,United Arab Emirates??,29295.0,25405.0,-1420.0,3539834744508397,35.0
1099986,1099987,Roach,Andrea,reidmichael@example.com,NaN,15070.0,78163.0,7696.0,341508749569307,56.0
1099987,1099988,Harris,Alan,fmonroe@example.com,Reunion,NaN,53096.0,0.0,4084591146904148,NaN
1099988,1099989,Powell??,Tonya,martinezsarah@example.com,Pitcairn Islands,19824.0,35818.0,14975.0,30596099057581,77.0
1099989,1099990,Long,Faith,jesselewis@example.net,Gabon,109103.0,38448.0,19511.0,6505152619800069,NaN
1099990,1099991,Hicks,Francisco,esmith@example.com,Barbados,28286.0,46126.0,6881.0,30560908353185,30.0
1099991,1099992,Jones,Glenda,victoria48@example.net,Saudi Arabia,NaN,42884.0,5742.0,NaN,10.0
1099992,1099993,Reed,Gil!ert,ashley46@example.net,Suriname,0.0,77155.0,5835.0,4#61803936390,0.0
1099993,1099994,Cherry,Theresa,christopher08@example.org,Kenya,23101.0,53708.0,-343.0,4020914942049271,2.0
1099994,1099995,Miranda,Rebecca,jennifer50@example.org,Australia,15901.0,52299.0,NaN,4735962489271,73.0
1099995,1099996,Fisher,Jerome,shanebrown@example.org,Chile,16274.0,38732.0,8510.0,566363987462,64.0
1099996,1099997,Ramirez,D?rek,xnichols@example.com,Cote d'Ivoire,119444.0,22756.0,2156.0,2516151110218884,58.0
1099997,1099998,Bennett,Ian@@@,NaN,United States of America,25479.0,10516.0,9153.0,4388155321766582,79.0
1099998,1099999,Mccoy,Albert,vanessastokes@example.net,Guam,53971.0,0.0,5531.0,30451161173041,14.0
1099999,1100000,Stafford,Toni,sadams@example.com,Cambodia,45810.0,14562.0,5776.0,NaN,29.0

In [19]:
df.isnull().count()

id                       1100000
nom                      1100000
prenom                   1100000
email                    1100000
pays                     1100000
revenu_annuel            1100000
depenses_annuelles       1100000
solde_compte             1100000
numero_carte             1100000
transaction_mensuelle    1100000
dtype: int64

In [21]:
df.duplicated().count()

1100000

# Inspection du second dataframe pour definir les fonctions transformes de  notre ETL

In [8]:
### Importation du fichers pour la vente des  voitures (car_prices.csv)

In [9]:
df_2 = pd.read_csv("/home/charles-nguessan/Documents/archive/car_prices.csv")

In [10]:
### inspection du dataframe car_prices.csv

In [11]:
df_2

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [13]:
df_2.tail(50)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
558787,2015,Nissan,Altima,2.5 S,sedan,NaN,1n4al3ap3fn379506,tn,41.0,9319.0,silver,—,enterprise vehicle exchange/franklin,15500.0,10000.0,Thu Jul 02 2015 06:45:00 GMT-0700 (PDT)
558788,2014,Chevrolet,Silverado 1500,LT,crew cab,NaN,3gcukrec4eg454516,pa,49.0,26294.0,red,black,enterprise veh exchange/rental,30700.0,29000.0,Tue Jul 14 2015 06:30:00 GMT-0700 (PDT)
558789,2014,Volkswagen,GTI,Wolfsburg Edition,Hatchback,manual,wvwgd7ajxew008579,fl,37.0,8307.0,white,black,vw credit,21300.0,22000.0,Thu Jul 02 2015 08:00:00 GMT-0700 (PDT)
558790,2013,Nissan,Maxima,3.5 S,Sedan,automatic,1n4aa5ap4dc842540,ca,35.0,35950.0,gray,black,enterprise vehicle exchange / tra / rental / t...,14800.0,12800.0,Fri Jul 03 2015 09:00:00 GMT-0700 (PDT)
558791,2012,Ford,Transit Connect,Wagon XLT,Minivan,automatic,nm0ks9bnxct078155,mn,27.0,262065.0,silver,gray,saxon fleet services,10100.0,3000.0,Tue Jul 07 2015 12:00:00 GMT-0700 (PDT)
558792,2011,Chevrolet,HHR,LT,Wagon,automatic,3gnbabfw0bs598638,fl,22.0,76622.0,gray,gray,woodall auto wholesale inc,5775.0,7600.0,Fri Jul 03 2015 06:30:00 GMT-0700 (PDT)
558793,2010,Cadillac,Escalade ESV,Luxury,SUV,automatic,1gyukhef3ar164664,nc,31.0,95122.0,black,black,alternative financial group inc,25400.0,29000.0,Tue Jul 07 2015 07:00:00 GMT-0700 (PDT)
558794,2007,Chrysler,PT Cruiser,Base,Wagon,automatic,3a4fy48b57t550642,nc,19.0,100881.0,silver,gray,national fleet leasing,2000.0,3000.0,Mon Jul 06 2015 06:30:00 GMT-0700 (PDT)
558795,2006,Cadillac,DTS,Performance,Sedan,automatic,1g6kd57916u116696,nj,24.0,108790.0,black,brown,santander consumer,4875.0,4200.0,Thu Jul 02 2015 13:20:00 GMT-0700 (PDT)
558796,2013,Chrysler,200,LX,Sedan,automatic,1c3ccbab2dn734510,ca,42.0,45108.0,red,black,enterprise veh exchange/rental,9500.0,10900.0,Thu Jul 09 2015 09:00:00 GMT-0700 (PDT)
558797,2013,Hyundai,Elantra,GLS,Sedan,automatic,5npdh4ae9dh361845,fl,27.0,54743.0,white,tan,enterprise veh exchange/rental,9325.0,10800.0,Fri Jul 03 2015 06:15:00 GMT-0700 (PDT)
558798,2013,Mercedes-Benz,C-Class,C250,Coupe,automatic,wddgj4hb5dg003648,ca,25.0,36823.0,white,—,mercedes-benz financial services,22200.0,24750.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558799,2012,Ford,Focus,SE,Hatchback,automatic,1fahp3k24cl249912,tx,29.0,81402.0,—,gray,ford motor credit company llc,7125.0,8800.0,Tue Jul 07 2015 08:00:00 GMT-0700 (PDT)
558800,2012,Kia,Soul,Base,Wagon,manual,kndjt2a57c7424577,nv,28.0,53607.0,silver,black,unique autos,7825.0,8000.0,Fri Jul 03 2015 09:00:00 GMT-0700 (PDT)
558801,2010,Mercury,Mariner,Premier,SUV,automatic,4m2cn8hg8akj13175,tx,25.0,74996.0,white,gray,exeter finance corp,9425.0,8700.0,Wed Jul 08 2015 07:15:00 GMT-0700 (PDT)
558802,2010,Volkswagen,Tiguan,S,SUV,automatic,wvgav7ax0aw002948,fl,23.0,48147.0,silver,black,woodall auto wholesale inc,9850.0,14500.0,Tue Jul 07 2015 06:30:00 GMT-0700 (PDT)
558803,2007,Ford,Five Hundred,SEL,sedan,automatic,1fafp24197g115952,pa,27.0,53000.0,gray,beige,daniel thomas sales,4825.0,7400.0,Tue Jul 07 2015 07:00:00 GMT-0700 (PDT)
558804,2007,Volvo,XC90,3.2,suv,automatic,yv4cy982971355864,nv,34.0,95769.0,white,beige,unique autos,5950.0,8500.0,Thu Jul 09 2015 09:00:00 GMT-0700 (PDT)
558805,2012,Jeep,Grand Cherokee,Laredo,SUV,automatic,1c4rjfagxcc128770,tn,37.0,42971.0,silver,black,wholesale inc # 2,21900.0,22000.0,Tue Jul 07 2015 08:00:00 GMT-0700 (PDT)
558806,2012,Lexus,RX 350,Base,suv,automatic,2t2zk1ba5cc080320,fl,35.0,30235.0,white,beige,lexus financial services,26300.0,28400.0,Mon Jul 06 2015 06:00:00 GMT-0700 (PDT)
558807,2014,Mercedes-Benz,E-Class,E63 AMG 4MATIC,Sedan,automatic,wddhf9cb9ea917688,ca,45.0,17518.0,black,black,the hertz corporation,64000.0,69500.0,Tue Jul 07 2015 09:30:00 GMT-0700 (PDT)
558808,2008,BMW,1 Series,135i,Convertible,automatic,wbaun93588vf56134,ca,33.0,96344.0,red,black,autonet trading,12500.0,13000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558809,2008,Honda,Odyssey,EX-L,Minivan,automatic,5fnrl38738b099718,fl,41.0,101773.0,silver,gray,the auto group collection inc,9275.0,10000.0,Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
558810,2013,Honda,Civic,LX PZEV,Sedan,automatic,2hgfb2f54dh585400,ga,19.0,32117.0,gray,black,ahfc/honda lease trust/hvt inc.,12250.0,10000.0,Tue Jul 07 2015 09:50:00 GMT-0700 (PDT)
558811,2013,Hyundai,Sonata,GLS,Sedan,NaN,5npeb4ac6dh717429,nj,2.0,44084.0,silver,gray,enterprise veh exchange/rental,11000.0,10800.0,Tue Jul 07 2015 09:00:00 GMT-0700 (PDT)
558812,2012,Nissan,Maxima,3.5 SV,sedan,NaN,1n4aa5ap7cc840019,pa,42.0,9861.0,brown,tan,nissan-infiniti lt,18650.0,19700.0,Tue Jul 07 2015 07:30:00 GMT-0700 (PDT)
558813,2006,Chrysler,300,C,sedan,automatic,2c3ka63h46h281500,ca,28.0,57280.0,black,beige,gulliver,9400.0,11750.0,Wed Jul 08 2015 09:45:00 GMT-0700 (PDT)
558814,2014,Dodge,Charger,SE,Sedan,NaN,2c3cdxbg3eh324197,va,43.0,20485.0,white,black,hertz corporation/gdp,16350.0,16100.0,Wed Jul 08 2015 07:15:00 GMT-0700 (PDT)
558815,2011,Nissan,Versa,1.8 S,Hatchback,automatic,3n1bc1cp3bl441077,ca,42.0,79452.0,white,black,santander consumer,5450.0,5400.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558816,2013,Mercedes-Benz,G-Class,G63 AMG,suv,automatic,wdcyc7df4dx207385,fl,5.0,26799.0,black,black,fields bmw,104000.0,105000.0,Tue Jul 07 2015 06:00:00 GMT-0700 (PDT)
558817,2012,Ford,Flex,SEL,Wagon,automatic,2fmhk6cc1cbd17905,ny,39.0,28320.0,red,black,ford motor credit company llc,21500.0,22300.0,Wed Jul 08 2015 07:30:00 GMT-0700 (PDT)
558818,2013,Chevrolet,Silverado 1500,LT,crew cab,automatic,3gcpcse0xdg244430,tx,43.0,74575.0,black,black,stanley chevrolet buick gmc gatesville,22100.0,22000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558819,2012,Kia,Optima,EX,Sedan,automatic,5xxgn4a74cg032147,fl,44.0,58176.0,red,beige,kia motors finance,12850.0,11800.0,Tue Jul 07 2015 06:30:00 GMT-0700 (PDT)
558820,2014,Dodge,Charger,SE,Sedan,NaN,2c3cdxbg9eh324236,va,42.0,22744.0,white,black,hertz corporation/gdp,16250.0,15900.0,Wed Jul 08 2015 07:15:00 GMT-0700 (PDT)
558821,2012,Ford,Escape,XLT,SUV,automatic,1fmcu9d78ckc84074,fl,38.0,74673.0,white,gray,lehman buick gmc llc,11550.0,11400.0,Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
558822,2009,Mercedes-Benz,C-Class,C300 Luxury,sedan,automatic,wddgf54x89r068689,hi,41.0,80498.0,silver,black,jpmorgan chase bank n.a.,12600.0,10250.0,Tue Jul 07 2015 09:30:00 GMT-0700 (PDT)
558823,2012,Chevrolet,Silverado 1500,LT,Crew Cab,automatic,3gcpcse00cg289987,tx,37.0,37908.0,white,black,wells fargo dealer services,25000.0,23000.0,Tue Jul 07 2015 06:00:00 GMT-0700 (PDT)
558824,2013,Audi,S5,Premium Plus quattro,convertible,automatic,waucgafh6dn005382,fl,5.0,20158.0,silver,black,prestige audi,43900.0,42000.0,Thu Jul 09 2015 06:00:00 GMT-0700 (PDT)
558825,2011,Subaru,Forester,2.5X,suv,manual,jf2shbac9bg741815,ca,41.0,71693.0,silver,black,remarketing by ge/billion dodge,12300.0,11750.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558826,2014,Jeep,Grand Cherokee,Limited,SUV,automatic,1c4rjebg4ec573100,ca,44.0,9024.0,gray,black,enterprise vehicle exchange / tra / rental / t...,29800.0,17300.0,Thu Jul 09 2015 09:00:00 GMT-0700 (PDT)
558827,2014,Jeep,Grand Cherokee,Laredo,SUV,automatic,1c4rjfag0ec466276,pa,42.0,25180.0,gray,black,hertz corporation/gdp,26000.0,24500.0,Tue Jul 07 2015 06:30:00 GMT-0700 (PDT)
558828,2012,Dodge,Grand Caravan,American Value Package,Minivan,automatic,2c4rdgbg1cr349287,ma,37.0,97036.0,silver,gray,ge fleet services for itself/servicer,8300.0,7800.0,Tue Jul 07 2015 06:30:00 GMT-0700 (PDT)
558829,2012,Hyundai,Elantra,Limited,Sedan,NaN,5npdh4ae7ch106397,pa,4.0,66720.0,gray,gray,champion mazda,10250.0,10400.0,Wed Jul 08 2015 07:30:00 GMT-0700 (PDT)
558830,2012,Nissan,Sentra,2.0 SR,Sedan,NaN,3n1ab6ap3cl622485,tn,26.0,35858.0,white,gray,nissan-infiniti lt,9950.0,10400.0,Wed Jul 08 2015 17:15:00 GMT-0700 (PDT)
558831,2011,BMW,5 Series,528i,Sedan,automatic,wbafr1c53bc744672,fl,39.0,66403.0,white,brown,lauderdale imports ltd bmw pembrok pines,20300.0,22800.0,Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [20]:
df_2.duplicated().count()

558837